.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.rpm-trigger {
  align-items: flex-start;

}
.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#webcam {
  display: flex;
  align-items:center;
  justify-content: center;
  border: #282c34;
  transform: rotateY(180deg);
  
  }
#indicator {
  height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#QRscanner {
  display: flex;
  align-items:center;
  justify-content: center;
  transform: rotateY(180deg);
 
}
#text {
  display: flex;
  align-items:flex-end;
  justify-content: end;
 height: 100vh;
}

#Room{
  height: 20vh;
  width: 50vh;
  border-style: solid;
  border-width: 5px;
  padding-top: 12.5vh;
  text-align: center;
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}
