.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.rpm-trigger {
  align-items: flex-start;

}
.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ref1 {
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 1;
  border: #282c34;
  top: 15px;
  left: 20px;
  margin: 50px 0px 0px 50px;
  }
#ref2 {
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 2;
  height: 400px;
  position: relative;
  top: 15px;
  left: 20px;
  margin: 200px 0px 0px 500px;
}

